* {
    box-sizing: border-box;
}

nav ul a {
    color: white;
    font-size: 20px;
    font-family: monospace;
}

nav .brand-logo {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 35px;
}

.slider h2,
.slider h4 {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 2);
}

.page-footer h5 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

footer .page-footer {
    margin: 0;
}

.icon-block {
    padding: 0 10px;
}

.icon-block .material-icons {
    font-size: inherit;
}